@model TEMSystem.Models.Event

<h4>Editar Evento</h4>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="input-field">
        <input asp-for="Nombre" />
        <label class="active">Nombre</label>
    </div>

    <div class="input-field">
        <input type="datetime-local" asp-for="Fecha" />
        <label class="active">Fecha</label>
    </div>

    <div class="input-field">
        <input asp-for="Ubicacion" />
        <label class="active">Ubicación</label>
    </div>

    <div class="input-field">
        <input asp-for="ImagenUrl" />
        <label class="active">URL Imagen</label>
    </div>

    <div class="input-field">
        <textarea class="materialize-textarea" asp-for="Descripcion"></textarea>
        <label class="active">Descripción</label>
    </div>

    <button class="btn blue">Actualizar</button>
    <a href="/Events/Index" class="btn grey">Cancelar</a>
</form>